<tr>
    <td
    align="left"
    style="font-size: 0px; padding: 10px 25px; word-break: break-word"
  >
    <div
      style="
        font-family: Poppins, sans-serif;
        font-size: 15px;
        line-height: 1.5;
        text-align: left;
        color: #5e5e5e;
      "
    >
    <div style="color: #5e5e5e;">Dear {{ideaOwnerName}},</div>
    <br/>
	<div style="color: #5e5e5e;">Your post <b>{{ideaTitle}}</b> has received a new comment!</div>
    <br/>
     Comment Details:
    <ul style="color: #5e5e5e;">
    	<li style="color: #5e5e5e;">Commented By: <a href={{commentOwnerProfileLink}}>{{commentOwnerName}}</a></li>
        <li style="color: #5e5e5e;">Comment: <b>{{commentText}}</b></li>
        <li style="color: #5e5e5e;">Commented At: <b>{{createdAt}}</b></li>
        <li style="color: #5e5e5e;">View Idea: <a href={{ideaLink}}>Please click here to view idea</a></li>
    </ul>
    <br/>
    <br/>
   
    </div>
  </td>
</tr>

