<tr>
    <td
    align="left"
    style="font-size: 0px; padding: 10px 25px; word-break: break-word"
  >
    <div
      style="
        font-family: Poppins, sans-serif;
        font-size: 15px;
        line-height: 1.5;
        text-align: left;
        color: #5e5e5e;
      "
    >
    Hi,
    <br/>
    Pls click the following link to reset the password.
    <br/>
    <br/>
    <a href={{resetLink}}>
        <div style="border: 1px solid black;border-radius: 10px;padding: 10px;display: inline-block;align-items: center;">
            Click Here
        </div>
    </a>
   
    </div>
  </td>
</tr>

