<tr>
    <td
    align="left"
    style="font-size: 0px; padding: 10px 25px; word-break: break-word"
  >
    <div
      style="
        font-family: Poppins, sans-serif;
        font-size: 15px;
        line-height: 1.5;
        text-align: left;
        color: #5e5e5e;
      "
    >
    <div style="color: #5e5e5e;">Dear QA Manager,</div>
    <br/>
    <div style="color: #5e5e5e;">A user has reported a idea on the platform. Below are the details:</div>
	  <ul style="color: #5e5e5e;">
    	<li style="color: #5e5e5e;">Reported By: <a href={{reporterProfileLink}}>{{reporterEmail}}</a></li>
      <li style="color: #5e5e5e;">Idea Title: <b>{{ideaTitle}}</b></li>
      <li style="color: #5e5e5e;">Reason for Report: <b>{{type}}</b></li>
      <li style="color: #5e5e5e;">Reported At: <span style="color: inherit"><b>{{reportedAt}}</b></span></li>
      <li style="color: #5e5e5e;">View At: <a href={{ideaLink}}>Please click here to view idea</a></li>
    </ul>
    <br/>
    <br/>
   
    </div>
  </td>
</tr>

